<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>IRISGARDEN PREDICTIONS</title>
</head>
<body>
    <h1>
        MODELNAME: {{ model_name }}
    </h1>
    <div>
        MODELLOSS: {{ loss }}
        MODELACC: {{ acc }}
        MODELPROGACC: {{ scores }}
    </div>
    <div>
        MODELPREDRESULTS: {{ result }}
    </div>
    <div>
        <a href="/">BACK</a>
    </div>
</body>
</html>